<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

        <http auto-config="true" use-expressions="true" access-denied-page="/forbidden">
        
                <!-- <intercept-url pattern="/*" access="permitAll" />-->
                <intercept-url pattern="/logout*" access="permitAll" />
                <intercept-url pattern="/resources/**" access="permitAll" />
                <intercept-url pattern="/auth/**" access="hasAnyRole('ROLE_VALID_USER')" />
                <!-- <intercept-url pattern="/euser/**" access="hasRole('ROLE_EXTERNAL_USER')"/>  -->
                <!-- <intercept-url pattern="/exceptions/**" access="hasAnyRole('ROLE_VALID_USER','ROLE_EXTERNAL_USER')"/> -->
                <intercept-url pattern="/corporate/**" access="hasRole('ROLE_CORPORATE_MANAGER')"/>
                <intercept-url pattern="/it/employee/**" access="hasRole('ROLE_IT_EMPLOYEE')"/>
            	<intercept-url pattern="/it/manager/**" access="hasRole('ROLE_IT_MANAGER')"/>
                <intercept-url pattern="/hr/hremployee/**" access="hasRole('ROLE_HR_EMPLOYEE')"/>
                <intercept-url pattern="/hr/hrmanager/**" access="hasRole('ROLE_HR_MANAGER')"/>                
                <intercept-url pattern="/sales/salesemployee/**" access="hasRole('ROLE_SALES_EMPLOYEE')"/>
                <intercept-url pattern="/sales/salesmanager/**" access="hasRole('ROLE_SALES_MANAGER')"/>                 
                <intercept-url pattern="/customer/**" access="hasRole('ROLE_EXTERNAL_USER')"/>
            	<intercept-url pattern="/transactions/regularEmployee/**" access="hasRole('ROLE_TRANSACTION_EMPLOYEE')"/>
				<intercept-url pattern="/transaction/transactionManager/**" access="hasRole('ROLE_TRANSACTION_MANAGER')"/>
				<intercept-url pattern="/merchant/**" access="hasRole('ROLE_EXTERNAL_MERCHANT')"/>	                
                <intercept-url pattern="/pwdchange/**" access="hasAnyRole('ROLE_CORPORATE_MANAGER','ROLE_IT_EMPLOYEE','ROLE_IT_MANAGER','ROLE_HR_EMPLOYEE','ROLE_HR_MANAGER','ROLE_SALES_EMPLOYEE','ROLE_SALES_MANAGER','ROLE_EXTERNAL_USER','ROLE_TRANSACTION_EMPLOYEE','ROLE_TRANSACTION_MANAGER','ROLE_EXTERNAL_MERCHANT')"/>
                
                <!-- <intercept-url pattern="/**" access="denyAll" />-->
                
                <form-login login-page="/" default-target-url="/auth/otpcheck"
                        authentication-failure-url="/loginfailed" />
                <logout logout-success-url="/logout" invalidate-session="true" />
        </http>
        
        
        <authentication-manager alias="authenticationManager" erase-credentials="false">
                <authentication-provider>
                <password-encoder hash="md5" />
                        <jdbc-user-service data-source-ref="dataSource" 
                        users-by-username-query="select username, password, TRUE from tbl_all_users where username = ?" 
                        authorities-by-username-query="select username, roles from tbl_all_users where username = ?"/>
                   </authentication-provider>
        </authentication-manager>

</beans:beans>